# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --- DEPENDENCIAS ---
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# --- NEXT.JS & BUILD ---
/.next/
/out/
/build
.vercel

# --- SEGURIDAD Y ENTORNO (CRÍTICO) ---
# Bloqueamos todos los archivos .env para evitar fugas de claves AES y DB_URL
.env
.env*.local
.env.production
*.pem
*.key

# --- PRISMA ---
# Ignoramos el schema de SQLite si lo usaste en local, pero no el schema.prisma
*.db
*.db-journal
# Ignoramos la generación específica del cliente si se guarda fuera de node_modules
/src/generated/prisma

# --- TESTING & LOGS ---
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- MISC ---
.DS_Store
*.tsbuildinfo
next-env.d.ts